{% extends "base.html" %}


{% block page_content %}


<div>

  <h1>Ordia</h1>



<div class="container">

    <div class="card-deck mb-3">
	<div class="card mb-4 box-shadow">
	    
            <div class="card-header">
		<h4 class="my-0 font-weight-normal">Examples</h4>
            </div>
            <div class="card-body">
		<dl>
		    <dt><a href="L99">Luftballon</a></dt>
		    <dd>
			German lexeme.
		    </dd>

		    <dt><a href="L128-F3">Vovserne</a></dt>
		    <dd>
			Danish form.
		    </dd>
		</dl>
            </div>

	</div>

        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Tools</h4>
	    </div>
	    <div class="card-body">
		<dl>
		    <dt><a href="text-to-lexemes">Text-to-lexemes</a></dt>
		    <dd>Convert a text to a list of lexemes:
			<a href="text-to-lexemes?text=Regeringen%20spiser%20gr%C3%B8nne%20%C3%A6bler%20om%20vinteren&text-language=da">Danish example</a> and
			<a href="text-to-lexemes?text=Cars,%20bikes%20and%20motorcycles%20must%20stop%20at%20the%20crossing&text-language=en">English example</a>.</dd>
		</dl>
	    </div>
        </div>
	
        <div class="card mb-4 box-shadow">
	    <div class="card-header">
		<h4 class="my-0 font-weight-normal">Other</h4>
	    </div>
	    <div class="card-body">
		<dl>
		    <dt><a href="statistics/">Statistics</a></dt>
		    <dd>Count of Wikidata lexemes data.</dd>
		</dl>

	    </div>
        </div>
    </div>
</div>
  
    
</div>

{% endblock %}








