{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
 lexemeSparql = `
# Data for a specific lexeme
SELECT
  ?description 
  ?value ?valueLabel 
WHERE {
  VALUES ?lexeme { wd:{{ l }} }
  {
    BIND(1 AS ?order)
    BIND("lemma" AS ?description)
    ?lexeme wikibase:lemma ?value .
  }
  UNION 
  {
    BIND(2 AS ?order)
    BIND("language" AS ?description)
    ?lexeme dct:language ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = 'en')
  }
  UNION 
  {
    BIND(3 AS ?order)
    BIND("lexical category" AS ?description)
    ?lexeme wikibase:lexicalCategory ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = 'en')
  }
  UNION 
  {
    BIND(4 AS ?order)
    BIND("instance of" AS ?description)
    ?lexeme wdt:P31 ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = 'en')
  }
  UNION 
  {
    BIND(10 AS ?order)
    BIND("grammatical gender" AS ?description)
    ?lexeme wdt:P5185 ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = 'en')
  }
  UNION 
  {
    BIND(10 AS ?order)
    BIND("conjugation class" AS ?description)
    ?lexeme wdt:P5186 ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = "en")
  }
  UNION 
  {
    BIND(20 AS ?order)
    BIND("described in" AS ?description)
    ?lexeme wdt:P1343 ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = 'en')
  }
  UNION 
  {
    BIND(30 AS ?order)
    BIND("example" AS ?description)
    ?lexeme wdt:P5831 ?value .
  }
}
ORDER BY ?order
`


 formsSparql = `
 # List of forms for a specific lexeme
 SELECT
  ?form ?formLabel
   (GROUP_CONCAT(DISTINCT ?featureLabel; separator=" // ") AS ?features)
   (GROUP_CONCAT(DISTINCT ?hyphenation; separator=" // ") AS ?hyphenations)
 WHERE {
   wd:{{ l }} ontolex:lexicalForm ?form .
   ?form ontolex:representation ?formLabel .
   OPTIONAL {
     ?form wikibase:grammaticalFeature ?feature .
     ?feature rdfs:label ?featureLabel .
     FILTER (LANG(?featureLabel) = "en")
   }
   OPTIONAL {
    ?form wdt:P5279 ?hyphenation
   }
 }
 GROUP BY ?form ?formLabel
 ORDER BY (STR(?form))
 `

 sensesSparql = `
 # List of senses for a specific lexeme
 SELECT
  ?sense ?senseLabel
 WHERE {
   wd:{{ l }} ontolex:sense ?sense .
   ?sense skos:definition ?senseLabel .
 }
 GROUP BY ?sense ?senseLabel
 ORDER BY (STR(?sense))
 `

 compoundsSparql = `
SELECT ?lexeme ?lexemeLabel WHERE {
  ?lexeme wdt:P5238 wd:{{ l }} .
  ?lexeme wikibase:lemma ?lexemeLabel .
}
`

 $(document).ready(function() {
     sparqlToDataTable(lexemeSparql, "#lexeme", options={paging: false});
     sparqlToDataTable(formsSparql, "#forms", options={paging: false});
     sparqlToDataTable(sensesSparql, "#senses", options={paging: false});
     sparqlToDataTable(compoundsSparql, "#compounds", options={paging: false});
 });

</script>

{% endblock %}


{% block page_content %}

<div class="l-entry">
    
  <h1>Lexeme: {{ l }}</h1>

  [
  <a href="https://www.wikidata.org/wiki/Lexeme:{{ l }}">Wikidata</a>
  ]

    <hr>

    <table class="table table-hover" id="lexeme"></table>
    
    <hr>

    <h2>Forms</h2>

    <table class="table table-hover" id="forms"></table>
    
    <hr>

    <h2>Senses</h2>

    <table class="table table-hover" id="senses"></table>
    
    <hr>

    <h2>Compounds</h2>

    <table class="table table-hover" id="compounds"></table>
    
</div>

{% endblock %}


