{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
 lexemeSparql = `
# Data for a specific lexeme
SELECT
  ?order ?description ?p ?value ?valueLabel
WHERE {
  VALUES ?lexeme { wd:{{ l }} }
  {
    BIND(1 AS ?order)
    BIND("Lemma" AS ?description)
    ?lexeme wikibase:lemma ?value .
  }
  UNION 
  {
    BIND(2 AS ?order)
    BIND("Language" AS ?description)
    ?lexeme dct:language ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = 'en')
  }
  UNION 
  {
    BIND(3 AS ?order)
    BIND("Lexical category" AS ?description)
    ?lexeme wikibase:lexicalCategory ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = 'en')
  }
  UNION 
  {
    BIND(4 AS ?order)
    BIND("Instance of" AS ?description)
    ?lexeme wdt:P31 ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = 'en')
  }
}
ORDER BY ?order
`


 formsSparql = `
 # List of forms for a specific lexeme
 SELECT
	       ?form ?formLabel
 (GROUP_CONCAT(DISTINCT ?featureLabel; separator=" // ") AS ?features)
 (GROUP_CONCAT(DISTINCT ?hyphenation; separator=" // ") AS ?hyphenations)
 WHERE {
     wd:{{ l }} ontolex:lexicalForm ?form .
      ?form ontolex:representation ?formLabel .
					    OPTIONAL {
    ?form wikibase:grammaticalFeature ?feature .
	?feature rdfs:label ?featureLabel .
				      FILTER (LANG(?featureLabel) = "en")
					    }
     OPTIONAL {
    ?form wdt:P5279 ?hyphenation
     }
 }
 GROUP BY ?form ?formLabel
 ORDER BY (STR(?form))
 `


 $(document).ready(function() {
     sparqlToDataTable(lexemeSparql, "#lexeme");
     sparqlToDataTable(formsSparql, "#forms", options={paging: false});
 });

</script>

{% endblock %}


{% block page_content %}

<div class="l-entry">
    {% if entity %}
    
    <h1><a href="https://www.wikidata.org/wiki/Lexeme:{{ l }}">{{ l }}</a></h1>

    <table class="table table-hover" id="lexeme"></table>
   
    
    <h2>Forms</h2>

    <table class="table table-hover" id="forms"></table>
  
  <h2>Lexeme entity JSON</h2>

  {% if formatted_entity %}

  <pre>
{{ formatted_entity }}
  </pre>

  {% endif %}
  
  {% else %}

  <h1>{{ l }}</h1>

  Not found.
  
  {% endif %}

  
</div>

{% endblock %}


