{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
    longestWordsAndPhrasesSparql = `
# List of longest words for a language
# https://lists.wikimedia.org/pipermail/wikidata/2018-October/012545.html
SELECT DISTINCT ?length ?lexeme ?lexemeLabel WHERE {
  ?language wdt:P218 "{{ language }}" .
  ?lexeme a ontolex:LexicalEntry ;
          dct:language ?language ; 
          (ontolex:lexicalForm / ontolex:representation) | wikibase:lemma ?lexemeLabel .
  BIND(STRLEN(?lexemeLabel) AS ?length)  
} 
ORDER BY DESC(?length) 
LIMIT 200
  `


 $(document).ready(function() {
     sparqlToDataTable(longestWordsAndPhrasesSparql, "#longest-words-and-phrases");
 });

</script>

{% endblock %}


{% block page_content %}

  <div class="alert alert-warning" role="alert">
    Currently, only a limited set of lexemes and forms are listed
    as the list is not automatically updated.
  </div>


<div class="language-entries">
  <h1>{{ language }}</h1>

  <h2>Lexems</h2>

  <ul>
      {% for id_ in ids %}
      
      {% if id_.startswith('L') %}

      <li>
	  <a href="{{ url_for('app.show_l', l=id_) }}">{{ id_ }}</a>
	  {% for lemma in base.id_to_lemmas(id_) %}
	      {{ lemma }}
	  {% endfor %}
      </li>

      {% endif %}
      
      {% endfor %}

  </ul>

</div>


<h2>Longest words and phrases</h2>

<table class="table table-hover" id="longest-words-and-phrases"></table>


{% endblock %}


