{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
    lexemesSparql = `
# List of lexemes for a language
SELECT
  ?lexeme ?lexemeLabel
  ?lexical_category ?lexical_categoryLabel
WITH {
  SELECT ?lexeme ?lexemeLabel ?lexical_category WHERE {
    ?lexeme a ontolex:LexicalEntry ;
            dct:language wd:{{ q }} ; 
            wikibase:lemma ?lexemeLabel .
    OPTIONAL {
      ?lexeme wikibase:lexicalCategory ?lexical_category .
    }
  }
} AS %results
WHERE {
  INCLUDE %results
  OPTIONAL {        
    ?lexical_category rdfs:label ?lexical_categoryLabel .
    FILTER (LANG(?lexical_categoryLabel) = "en")
  }
  # SERVICE does not work!?
  # SERVICE wikibase:label { bd:serviceParam wikibase:language "en" . }
}
  `


longestWordsAndPhrasesSparql = `
# List of longest words for a language
# https://lists.wikimedia.org/pipermail/wikidata/2018-October/012545.html
SELECT DISTINCT ?length ?form ?formLabel ?lexeme ?lexemeLabel WHERE {
  ?lexeme a ontolex:LexicalEntry ;
          dct:language wd:{{ q }} ;
          wikibase:lemma ?lexemeLabel .
  ?lexeme ontolex:lexicalForm ?form .
  ?form ontolex:representation ?formLabel
  BIND(STRLEN(?formLabel) AS ?length)  
} 
ORDER BY DESC(?length) 
LIMIT 200
  `


 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexemes");
     sparqlToDataTable(longestWordsAndPhrasesSparql,
		       "#longest-words-and-phrases");
 });

</script>

{% endblock %}


{% block page_content %}


<div class="language-entries">
  <h1>{{ q }}</h1>

  <h2>Lexemes</h2>

  <table class="table table-hover" id="lexemes"></table>

</div>


<h2>Longest words and phrases</h2>

<table class="table table-hover" id="longest-words-and-phrases"></table>


{% endblock %}


