{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
 lexicalCategoriesSparql = `
# List with counts of lexical categories
SELECT ?count ?lexical_category ?lexical_categoryLabel 
WITH {
  SELECT (COUNT(*) AS ?count) ?lexical_category WHERE {
    [] wikibase:lexicalCategory ?lexical_category .
  }
  GROUP BY ?lexical_category
} AS %results
WHERE {
  INCLUDE %results
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}
ORDER BY DESC(?count)
 `


 $(document).ready(function() {
     sparqlToDataTable(lexicalCategoriesSparql, "#lexical-categories", {
	 linkPrefixes: {
	     lexical_category: '../lexical-category/'
	 }
     });
 });

</script>

{% endblock %}



{% block page_content %}

<h1>Lexical categories</h1>

<hr/>


<div class="lexical-categories">

    <table class="table table-hover" id="lexical-categories"></table>

</div>

{% endblock %}


