{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
    lexemesSparql = `
# List lexemes wrt. a lexical category and language
SELECT
  ?lexeme ?lexemeLabel
  ?length
  ?number_of_compounds
      
{
  {
    SELECT 
      ?lexeme
      (COUNT(?compound) AS ?number_of_compounds)
    {
      ?lexeme wikibase:lexicalCategory wd:{{ q1 }} ;
              dct:language wd:{{ q2 }} .
      OPTIONAL { ?compound wdt:P5238 ?lexeme }
    }
    GROUP BY ?lexeme
  }
  ?lexeme wikibase:lemma ?lexemeLabel
  BIND(STRLEN(?lexemeLabel) AS ?length)
}
ORDER BY ?lexemeLabel ?length ?number_of_compounds
LIMIT 10000
`




 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 linkPrefixes: {
	     lexeme: '../../../',
	 }});
 });

</script>

{% endblock %}



{% block page_content %}


<h1>Lexical category: {{ q1 }}; language: {{ q2 }}</h1>

<p>
  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="../../{{ q1 }}">←</a>
  <a title="View and edit item for lexical cateogry on Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/{{ q1 }}">Wikidata for lexical category ↗</a>
  <a title="View item for lexical category in Sholia"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://scholia.toolforge.org/topic/{{ q1 }}">Scholia for lexical category ↗</a>
</p>

<hr/>

<h2>Lexemes</h2>

<table class="table table-hover" id="lexemes"></table>


{% endblock %}


