{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
    formDataSparql = `
# Data for a specific sense
SELECT
  ?description 
  ?value ?valueLabel ?valueUrl
  ?source ?sourceUrl
WHERE {
  VALUES ?form { wd:{{ l }}-{{ f }} }
  {
    BIND(1 AS ?order)
    ?form ontolex:representation ?value .
    BIND("representation" AS ?description)
    BIND(CONCAT("representation/", ENCODE_FOR_URI(?value)) AS ?valueUrl)
  }
  UNION
  {
    BIND(2 AS ?order)
    ?value ontolex:lexicalForm ?form .
    ?value wikibase:lemma ?valueLabel .
    BIND("lexeme" AS ?description)
  }
  UNION
  {
    # Language	
    BIND(3 AS ?order)
    ?form ^ontolex:lexicalForm / dct:language ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = "en")
    BIND("language" AS ?description)
  }
  UNION
  {
    # Hyphenation
    BIND(10 AS ?order)
    ?form wdt:P5279 ?value .
    BIND("hyphenation" AS ?description)
  }
  UNION  
  {   
    BIND(11 AS ?order)
    ?form wdt:P2859 ?value .
    BIND("X-SAMPA" AS ?description)
  }
  UNION 
  {
    BIND(20 AS ?order)
    BIND("Attested in" AS ?description)
    ?form p:P5323 ?value_statement .
    ?value_statement ps:P5323 ?value_ .
    ?value_ rdfs:label ?value .
    FILTER (LANG(?value) = "en")
    BIND(CONCAT("reference/", SUBSTR(STR(?value_), 32))  AS ?valueUrl)
    OPTIONAL {
      ?value_statement prov:wasDerivedFrom / pr:P854 ?sourceUrl .
      OPTIONAL { ?value_statement pq:P577 ?date }
      BIND(COALESCE(
	  CONCAT(STR(YEAR(?date)), "-", STR(MONTH(?date)), "-", STR(DAY(?date)), "&nbsp;🔗"),
        "🔗") AS ?source)
    }
  }
  UNION  
  {   
    BIND(21 AS ?order)
    ?lexeme ontolex:lexicalForm ?form .
    ?lexeme p:P5831 ?value_statement .
    ?value_statement ps:P5831 ?value .
    ?value_statement pq:P5830 ?form .
    ?lexeme dct:language / wdt:P424 ?language_code .
    BIND(CONCAT("./text-to-lexemes?text-language=",
		ENCODE_FOR_URI(?language_code),
		"&text=",
		ENCODE_FOR_URI(?value)) AS ?valueUrl)
    BIND("example use" AS ?description)
  }
}
ORDER BY ?order
`

  homographsSparql = `
# Homographs for a lexeme form
SELECT
  ?lexeme (SUBSTR(STR(?lexeme), 32) AS ?lexemeLabel)
  ?lemma ?lexical_category ?lexical_categoryLabel
  ?form (SUBSTR(STR(?form), 32) AS ?formLabel)
  (GROUP_CONCAT(DISTINCT ?featureLabel; separator=" // ") AS ?features)
WHERE {
  wd:{{ l }}-{{ f }} ontolex:representation / ^ontolex:representation ?form .

  FILTER (wd:{{ l }}-{{ f }} != ?form)

  ?lexeme ontolex:lexicalForm ?form ;
          wikibase:lemma ?lemma ;
          wikibase:lexicalCategory ?lexical_category .
  OPTIONAL {
    ?form wikibase:grammaticalFeature ?feature .
    ?feature rdfs:label ?featureLabel .
    FILTER (LANG(?featureLabel) = "en")
  }
    
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
  }
GROUP BY ?lexeme ?lemma ?lexical_category ?lexical_categoryLabel
  ?form ?formLabel
`


 $(document).ready(function() {
     sparqlToDataTable(
	 formDataSparql, "#form-data",
	 options={
	     paging: false
	 });
     sparqlToDataTable(
	 homographsSparql, "#homographs");
 });

</script>

{% endblock %}


{% block page_content %}

<div class="l-entity">
  <h1>Form: {{ l }}-{{ f }}</h1>

  <a title="Back"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="./">←</a>
  <a title="View and edit form in Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/Lexeme:{{ l }}#{{ f }}">Wikidata ↗</a>

  
  <table class="table table-hover" id="form-data"></table>


  <h2>Homographs</h2>
  
  <table class="table table-hover" id="homographs"></table>


  
</div>

{% endblock %}


