{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
    formDataSparql = `
# Data for a specific sense
SELECT
  ?description 
  ?value ?valueLabel ?valueUrl
WHERE {
  VALUES ?form { wd:{{ l }}-{{ f }} }
  {
    BIND(1 AS ?order)
    ?form ontolex:representation ?value .
    BIND("representation" AS ?description)
    BIND(CONCAT("representation/", ENCODE_FOR_URI(?value)) AS ?valueUrl)
  }
  UNION
  {
    BIND(2 AS ?order)
    ?value ontolex:lexicalForm ?form .
    ?value wikibase:lemma ?valueLabel .
    BIND("lexeme" AS ?description)
  }
  UNION
  {
    # Language	
    BIND(3 AS ?order)
    ?form ^ontolex:lexicalForm / dct:language ?value .
    ?value rdfs:label ?valueLabel .
    FILTER (LANG(?valueLabel) = "en")
    BIND("language" AS ?description)
  }
  UNION
  {
    # Hyphenation
    BIND(10 AS ?order)
    ?form wdt:P5279 ?value .
    BIND("hyphenation" AS ?description)
  }
  UNION  
  {   
    BIND(11 AS ?order)
    ?form wdt:P2859 ?value .
    BIND("X-SAMPA" AS ?description)
  }
  UNION  
  {   
    BIND(20 AS ?order)
    ?lexeme ontolex:lexicalForm ?form .
    ?lexeme p:P5831 ?value_statement .
    ?value_statement ps:P5831 ?value .
    ?value_statement pq:P5830 ?form .
    BIND("example use" AS ?description)
  }
}
ORDER BY ?order
`


 $(document).ready(function() {
     sparqlToDataTable(formDataSparql, "#form-data",
		       options={
			   paging: false
		       });
 });

</script>

{% endblock %}


{% block page_content %}

<div class="l-entity">
  <h1>Form: {{ l }}-{{ f }}</h1>


  <a title="View and edit form in Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/Lexeme:{{ l }}#{{ f }}">Wikidata</a>

  
  <table class="table table-hover" id="form-data"></table>

  
</div>

{% endblock %}


