{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
    senseDataSparql = `
# Data for a specific sense
SELECT
  ?description 
  ?value ?valueLabel 
WHERE {
  VALUES ?sense { wd:{{ l }}-{{ s }} }
  {
    BIND(1 AS ?order)
    BIND("Lexeme" AS ?description)
    ?value ontolex:sense ?sense .
    ?value wikibase:lemma ?valueLabel .
  }
  UNION
  {
    BIND(2 AS ?order)
    BIND("Concept" AS ?description)
    ?sense wdt:P5137 ?value .
    ?value rdfs:label ?valueLabel FILTER (LANG(?valueLabel) = "en")
  }  
  UNION
  {
    BIND(10 AS ?order)
    BIND("Synonym" AS ?description)
    ?sense wdt:PP5973 ?value .
    ?value ^ontolex:sense / wikibase:lemma ?valueLabel 
  }  
  UNION
  {
    BIND(11 AS ?order)
    BIND("Antonym" AS ?description)
    ?sense wdt:P5974 ?value .
    ?value ^ontolex:sense / wikibase:lemma ?valueLabel 
  }  
}
ORDER BY ?order
`

  translationsSparql = `
SELECT DISTINCT
  ?sense ?senseLabel
  ?gloss
  ?lexeme ?lexemeLabel ?language ?languageLabel
  ?item ?itemLabel
WHERE {
  { wd:{{ l }}-{{ s }} wdt:P5137 / ^wdt:P5137 ?sense . }
  UNION
  { wd:{{ l }}-{{ s }} wdt:P5972 | ^wdt:P5972 ?sense . }

  BIND(SUBSTR(STR(?sense), 32) AS ?senseLabel)
    
  ?lexeme ontolex:sense ?sense .
  FILTER (wd:{{ l }}-{{ s }} != ?sense)
  ?lexeme wikibase:lemma ?lexemeLabel .
  ?lexeme dct:language ?language .
  ?language rdfs:label ?languageLabel . 
  FILTER (LANG(?languageLabel) = 'en')

  OPTIONAL {
    ?sense skos:definition ?gloss .
    FILTER (LANG(?gloss) = 'en')
  }

  OPTIONAL {
    wd:{{ l }}-{{ s }} wdt:P5137 ?item .
    ?item rdfs:label ?itemLabel .
    FILTER (LANG(?itemLabel) = 'en')
  }
}
ORDER BY ?languageLabel
`

 $(document).ready(function() {
     sparqlToDataTable(senseDataSparql, "#sense-data",
		       options={
			   paging: false
		       });
     sparqlToDataTable(translationsSparql, "#translations",
		       options={
			   linkPrefixes: {
			       'language': 'language/'
			   },
			   paging: false,
			   
		       });
 });

</script>

{% endblock %}


{% block page_content %}

<div class="ls-entity">
  <h1>Sense: {{ l }}-{{ s }}</h1>
  
  [
  <a title="View and edit the lexeme sense on Wikidata"
     href="https://www.wikidata.org/wiki/Lexeme:{{ l }}#{{ s }}">Wikidata</a>
  ]

    <table class="table table-hover" id="sense-data"></table>

    
    <hr/>
    
    <h2>Translations</h2>

    <table class="table table-hover" id="translations"></table>
    
    
</div>

{% endblock %}


