{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
 lexemesSparql = `
SELECT
  ?lexeme ?lexemeLabel
  ?language ?languageLabel
  ?value ?valueLabel
WHERE {
  ?lexeme wikibase:lemma ?lexemeLabel .
  ?lexeme a ontolex:LexicalEntry .
  ?lexeme wdt:{{ p }} ?value .
  ?lexeme dct:language ?language
  OPTIONAL {
    ?language rdfs:label ?languageLabel .
    FILTER (LANG(?languageLabel) = 'en')
  }
  OPTIONAL {
    { ?value wikibase:lemma ?valueLabel1 . }
    UNION
    { ?value rdfs:label ?valueLabel2 . FILTER (LANG(?valueLabel2) = 'en') }
    BIND(COALESCE(?valueLabel1, ?valueLabel2) AS ?valueLabel)
  }
}
LIMIT 1000
  `

 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 linkPrefixes: {
	     lexeme: '../',
	     value: '../'}});
 });

</script>

{% endblock %}


{% block page_content %}


<div class="property-entries">
  <h1>Property: {{ p }}</h1>

  <a title="View and edit property on Wikidata"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://www.wikidata.org/wiki/Property:{{ p }}">Wikidata</a>
  <a title="View property in Scholia"
     role="button"
     class="btn btn-outline-dark btn-sm"
     href="https://tools.wmflabs.org/scholia/{{ p }}">Scholia</a>

  <hr/>

  <h2>Lexemes</h2>

  <table class="table table-hover" id="lexemes"></table>

  <!-- hr/>
  
  <h2>Forms</h2>
  
  <table class="table table-hover" id="forms"></table>

  <hr/>
  
  <h2>Senses</h2>
  
  <table class="table table-hover" id="senses"></table -->
  
</div>




{% endblock %}


