{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
 lexemesSparql = `
SELECT ?lexeme ?lexemeLabel ?language ?languageLabel ?sense ?senseLabel WHERE {
  ?lexeme ontolex:sense ?sense .
  ?lexeme dct:language ?language .
  OPTIONAL {
    ?language rdfs:label ?languageLabel .
    FILTER (LANG(?languageLabel) = "en")
  }
  ?lexeme wikibase:lemma ?lexemeLabel .
  ?sense wdt:P5137 wd:{{ q }} .
  OPTIONAL {
    ?sense skos:definition ?senseLabel .
    # FILTER (LANG(?senseLabel) = "en")
  }
} 
  `


 $(document).ready(function() {
     sparqlToDataTable(lexemesSparql, "#lexemes", {
	 'linkPrefixes': {
	     'language': 'language/'
	 }
     });
 });

</script>

{% endblock %}



{% block page_content %}

<div class="q-entry">
  <h1>{{ q }}</h1>

  [
  <a href="https://www.wikidata.org/wiki/{{ q }}">Wikidata</a>
  |
  <a href="https://tools.wmflabs.org/reasonator/?q={{ q }}">Reasonator</a>
  |
  <a href="https://tools.wmflabs.org/scholia/topic/{{ q }}">Scholia</a>
  ]
  
    <h2>Lexemes</h2>

    <table class="table table-hover" id="lexemes"></table>



</div>

{% endblock %}
