{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript" src="{{ url_for('static', filename='lexemeforms.js') }}"></script>
<script type="text/javascript">
 $(document).ready(function() {
     lexemeTemplateSelection("{{ lang }}", "{{ query }}", "#lexeme-templates");
 });

</script>

{% endblock %}

{% block page_content %}

<div class="search-results">

  <!-- div class="alert alert-warning" role="alert">
    Currently, only a limited set of lexemes and forms are searched,
    so the search results may not be complete.
  </div -->
  
    <h2>Search results</h2>

    <ul class="search-results">
{% for search_result in search_results %}
        <li class="search-result">
	    {% if 'match' in search_result %}

	    <a href="{{ search_result['id'] }}">
                  {{ search_result['label'] }}
                  ({{ search_result['id'] }})</a>
            &mdash; {{ search_result['description'] }}

	    <br>
	    {{ search_result['match']['text'] }}
	    (<a href='{{ url_for("app.redirect_language", language=search_result["match"]["language"]) }}'>{{ search_result['match']['language'] }}</a>)
	    
	    {% else %}
	    
	    <a href="{{ search_result['id'] }}">
                  {{ search_result['label'] }}
                  ({{ search_result['id'] }})</a>
            <br/>
            {{ search_result['description'] }}
	    
	    {% endif %}
	</li>
	    
{% endfor %}
    </ul>
    
</div>

<div class="form-group" id="lexeme-templates">
  {% if query and lang %}
  <h3>Lexeme Form options for {{ lang }}: </h3>
  {% endif %}
</div>


<div class="new-lexeme">
  {% if query %}

  <a href="https://www.wikidata.org/wiki/Special:NewLexeme?lemma={{ query }}"><button type="button" class="btn btn-primary">Create new lexeme in Wikidata</button></a>
  
  {% endif %}
</div>


{% endblock %}
