{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
 statisticsSparql = `

SELECT
  ?count
  ?description
  ?query
WHERE {
  {
    { SELECT (COUNT(*) AS ?count) { [] a ontolex:LexicalEntry . } }
    BIND("Number of lexemes" AS ?description)
    BIND("[] a ontolex:LexicalEntry" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] dct:language [] . } }
    BIND("Number of language links" AS ?description)
    BIND("[] dct:language []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] a ontolex:Form . } }
    BIND("Number of forms" AS ?description)
    BIND("[] a ontolex:Form" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] a ontolex:LexicalSense . } }
    BIND("Number of senses" AS ?description)
    BIND("[] a ontolex:LexicalSense" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] ontolex:sense [] . } }
    BIND("Number of sense links" AS ?description)
    BIND("[] ontolex:sense []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wikibase:lexicalCategory [] . } }
    BIND("Number of lexical category links" AS ?description)
    BIND("[] wikibase:lexicalCategory []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wikibase:grammaticalFeature [] . } }
    BIND("Number of grammatical feature links" AS ?description)
    BIND("[] wikibase:grammaticalFeature []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5137 [] . } }
    BIND("Number of sense to item links" AS ?description)
    BIND("[] wdt:P5137 []" AS ?query)
  }
    
  UNION
  {
    # This query may be too expensive if the number of lexemes grows.
    { SELECT (COUNT(DISTINCT ?language) AS ?count) { [] dct:language ?language . } }
    BIND("Number of different languages" AS ?description)
    BIND("[] dct:language ?language" AS ?query)
  }
    
}
ORDER BY DESC(?count)
`

 identifierStatisticsSparql = `
SELECT
  ?count
  ?description ?descriptionUrl
  ?query
WHERE {
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P2581 [] . } }
    wd:P2581 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    # BIND("../property/P2581" AS ?descriptionUrl)
    BIND("[] wdt:P2581 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5063 [] . } }
    wd:P5063 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    # BIND("../property/P5063" AS ?descriptionUrl)
    BIND("[] wdt:P5063 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5274 [] . } }
    wd:P5274 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5274" AS ?descriptionUrl)
    BIND("[] wdt:P5274 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5275 [] . } }
    wd:P5275 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5275" AS ?descriptionUrl)
    BIND("[] wdt:P5275 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5497 [] . } }
    wd:P5497 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5497" AS ?descriptionUrl)
    BIND("[] wdt:P5497 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5533 [] . } }
    wd:P5533 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5533" AS ?descriptionUrl)
    BIND("[] wdt:P5533 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5627 [] . } }
    wd:P5627 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5627" AS ?descriptionUrl)
    BIND("[] wdt:P5627 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5720 [] . } }
    wd:P5720 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5720" AS ?descriptionUrl)
    BIND("[] wdt:P5720 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5793 [] . } }
    wd:P5793 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5793" AS ?descriptionUrl)
    BIND("[] wdt:P5793 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5844 [] . } }
    wd:P5844 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5844" AS ?descriptionUrl)
    BIND("[] wdt:P5844 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5876 [] . } }
    wd:P5876 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5876" AS ?descriptionUrl)
    BIND("[] wdt:P5876 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5877 [] . } }
    wd:P5877 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5877" AS ?descriptionUrl)
    BIND("[] wdt:P5877 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5902 [] . } }
    wd:P5902 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5902" AS ?descriptionUrl)
    BIND("[] wdt:P5902 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5903 [] . } }
    wd:P5903 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5903" AS ?descriptionUrl)
    BIND("[] wdt:P5903 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5912 [] . } }
    wd:P5912 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5912" AS ?descriptionUrl)
    BIND("[] wdt:P5912 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5928 [] . } }
    wd:P5928 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5928" AS ?descriptionUrl)
    BIND("[] wdt:P5928 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5937 [] . } }
    wd:P5937 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5937" AS ?descriptionUrl)
    BIND("[] wdt:P5937 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5938 [] . } }
    wd:P5938 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5938" AS ?descriptionUrl)
    BIND("[] wdt:P5938 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5939 [] . } }
    wd:P5939 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P5939" AS ?descriptionUrl)
    BIND("[] wdt:P5939 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P6140 [] } }
    wd:P6140 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P6140" AS ?descriptionUrl)
    BIND("[] wdt:P6140 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P6168 [] } }
    wd:P6168 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P6168" AS ?descriptionUrl)
    BIND("[] wdt:P6168 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P6838 [] . } }
    wd:P6838 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P6838" AS ?descriptionUrl)
    BIND("[] wdt:P6838 []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P8478 [] . } }
    wd:P8478 rdfs:label ?description .
    FILTER (LANG(?description) = 'en')
    BIND("../property/P8478" AS ?descriptionUrl)
    BIND("[] wdt:P8478 []" AS ?query)
  }  
}
ORDER BY DESC(?count)
`


 $(document).ready(function() {
     sparqlToDataTable(statisticsSparql, "#statistics",
		       options={
			   sDom: 'rt',
			   paging: false,
		       });
     sparqlToDataTable(identifierStatisticsSparql, "#identifier-statistics",
		       options={
			   sDom: 'rt',
			   paging: false,
		       });
 });

</script>

{% endblock %}


{% block page_content %}


<div>

  <h1>Statistics</h1>

  <table class="table table-hover" id="statistics"></table>
  
  <h2>Identifier statistics</h2>

  <table class="table table-hover" id="identifier-statistics"></table>
  
  
</div>

{% endblock %}








