{% extends "base.html" %}

{% block scripts %}
{{super()}}

<script type="text/javascript">
 statisticsSparql = `

SELECT
  ?count
  ?description
  ?query
WHERE {
  {
    { SELECT (COUNT(*) AS ?count) { [] a ontolex:LexicalEntry . } }
    BIND("Number of lexemes" AS ?description)
    BIND("[] a ontolex:LexicalEntry" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] dct:language [] . } }
    BIND("Number of language links" AS ?description)
    BIND("[] dct:language []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] a ontolex:Form . } }
    BIND("Number of forms" AS ?description)
    BIND("[] a ontolex:Form" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] a ontolex:LexicalSense . } }
    BIND("Number of senses" AS ?description)
    BIND("[] a ontolex:LexicalSense" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] ontolex:sense [] . } }
    BIND("Number of sense links" AS ?description)
    BIND("[] ontolex:sense []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wikibase:lexicalCategory [] . } }
    BIND("Number of lexical category links" AS ?description)
    BIND("[] wikibase:lexicalCategory []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wikibase:grammaticalFeature [] . } }
    BIND("Number of grammatical feature links" AS ?description)
    BIND("[] wikibase:grammaticalFeature []" AS ?query)
  }
  UNION
  {
    { SELECT (COUNT(*) AS ?count) { [] wdt:P5137 [] . } }
    BIND("Number of sense to item links" AS ?description)
    BIND("[] wdt:P5137 []" AS ?query)
  }
    
  UNION
  {
    # This query may be too expensive if the number of lexemes grows.
    { SELECT (COUNT(DISTINCT ?language) AS ?count) { [] dct:language ?language . } }
    BIND("Number of different languages" AS ?description)
    BIND("[] dct:language ?language" AS ?query)
  }
    
}
ORDER BY DESC(?count)
`

 identifierStatisticsSparql = `
SELECT
  ?count
  (?identifier_Label AS ?identifier)
  (?identifier_Url AS ?identifierUrl)
  (?identifier_Description AS ?identifierDescription)
WITH {
  SELECT 
    (COUNT(*) AS ?count)
    ?property 
  WHERE {
    ?property ^wikibase:directClaim / wdt:P31 wd:Q56216056 .
    [] ?property [] .
  }
  GROUP BY ?property
} AS %properties
WHERE {
  {
    SELECT 
      ?count
      ?identifier_ ?identifier_Label
      (CONCAT("/property/", SUBSTR(STR(?identifier_), 32)) AS ?identifier_Url)
      ?identifier_Description
    WHERE {
      INCLUDE %properties  
      ?identifier_ wikibase:directClaim ?property .
      SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
    }
  } 
} 
ORDER BY DESC(?count)
`


 $(document).ready(function() {
     sparqlToDataTable(statisticsSparql, "#statistics",
		       options={
			   sDom: 'rt',
			   paging: false,
		       });
     sparqlToDataTable(identifierStatisticsSparql, "#identifier-statistics",
		       options={
			   sDom: 'rt',
			   paging: false,
		       });
 });

</script>

{% endblock %}


{% block page_content %}


<div>

  <h1>Statistics</h1>

  <table class="table table-hover" id="statistics"></table>
  
  <h2>Identifier statistics</h2>

  <table class="table table-hover" id="identifier-statistics"></table>
  
  
</div>

{% endblock %}








