{% extends "base.html" %}


{% block scripts %}
{{super()}}

<script type="text/javascript">
 extractionSparql = `
SELECT DISTINCT
  ?word ?wordUrl
  ?form ?formLabel
  ?lexeme ?lexemeLabel
  ?lexical_category ?lexical_categoryLabel
  (GROUP_CONCAT(DISTINCT ?featureLabel; separator=" // ") AS ?features)
  ?sense ?senseLabel
  (IRI(CONCAT("https://commons.wikimedia.org/w/index.php?title=Special:Redirect/file&width=100&wpvalue=", 
          SUBSTR(STR(SAMPLE(?images)), 52))) AS ?sense_image)
WHERE {
  VALUES ?word { {{ words | safe }} }
  OPTIONAL {
    ?form ontolex:representation ?word . 
    OPTIONAL {
      ?form wikibase:grammaticalFeature ?feature .
      BIND(STR(?feature) AS ?default_featureLabel)
      OPTIONAL {
        ?feature rdfs:label ?featureLabel_ .
        FILTER (LANG(?featureLabel_) = "en")
      }
      BIND(COALESCE(?featureLabel_, ?default_featureLabel) AS ?featureLabel)
    }
      
    ?lexeme wikibase:lexicalCategory ?lexical_category .
    BIND(STR(?lexical_category) AS ?default_lexical_categoryLabel)
    OPTIONAL {
      ?lexical_category rdfs:label ?lexical_categoryLabel_ .
      FILTER (LANG(?lexical_categoryLabel_) = 'en')
    }
    BIND(COALESCE(?lexical_categoryLabel_, ?default_lexical_categoryLabel) AS
	 ?lexical_categoryLabel)
      
    ?lexeme ontolex:lexicalForm ?form .
    ?form ontolex:representation ?formLabel .
	  
    ?lexeme wikibase:lemma ?lexemeLabel .

    OPTIONAL {
      ?lexeme ontolex:sense ?sense .
      BIND(SUBSTR(STR(?sense), 32) AS ?senseLabel)
      OPTIONAL {
        ?sense wdt:P18 ?images .
      }
    }
  }
  BIND(IF(BOUND(?form), "", CONCAT("search?language={{text_language}}&q=", ?word)) AS ?wordUrl)
}
GROUP BY
  ?word ?wordUrl ?form ?formLabel
  ?lexeme ?lexemeLabel ?lexical_category ?lexical_categoryLabel
  ?sense ?senseLabel
ORDER BY ?word
`

 $(document).ready(function() {
     sparqlToDataTable(extractionSparql, "#extraction",
		       options={
			   paging: false,
			   linkPrefixes: {
			       source: 'reference/'
			   }
		       });
 });

</script>

{% endblock %}


{% block page_content %}

<h1>Text to lexemes</h1>

<form action="" id="form" method="POST" class="form-horizontal">
    <div class="form-group">
      <textarea rows=10 class="form-control" style="min-width: 100%" id="text" name="text"
		placeholder="Write case-sensitive words or a text here and select the language below"
		>{{ text }}</textarea>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
	<label for="language">Language:</label>
	<select class="form-control" id="language-selector" name="text-language">
	  <option value="ar"{% if text_language == 'ar' %} selected="selected"{% endif %}>العربية - ar - Arabic</option>
	  <option value="bg"{% if text_language == 'bg' %} selected="selected"{% endif %}>Български - bg - Bulgarian</option>
	  <option value="bho"{% if text_language == 'bho' %} selected="selected"{% endif %}>𑂦𑂷𑂔𑂣𑂳𑂩𑂲 - bho - Bhojpuri</option>
	  <option value="bn"{% if text_language == 'bn' %} selected="selected"{% endif %}>বাংলা - bn - Bengali</option>
	  <option value="br"{% if text_language == 'br' %} selected="selected"{% endif %}>Brezhoneg - br - Breton</option>
	  <option value="cs"{% if text_language == 'cs' %} selected="selected"{% endif %}>Čeština - cs - Czech</option>
	  <option value="da"{% if text_language == 'da' %} selected="selected"{% endif %}>Dansk - da - Danish</option>
	  <option value="de"{% if text_language == 'de' %} selected="selected"{% endif %}>Deutsch - de - German</option>
	  <option value="el"{% if text_language == 'el' %} selected="selected"{% endif %}>ελληνικά - el - Greek</option>
 	  <option value="en"{% if text_language == 'en' %} selected="selected"{% endif %}>English - en - English</option>
 	  <option value="eo"{% if text_language == 'eo' %} selected="selected"{% endif %}>Esperanto - eo - Esperanto</option>
 	  <option value="es"{% if text_language == 'es' %} selected="selected"{% endif %}>Español - es - Spanish</option>
 	  <option value="et"{% if text_language == 'et' %} selected="selected"{% endif %}>Eesti - et - Estonian</option>
 	  <option value="eu"{% if text_language == 'eu' %} selected="selected"{% endif %}>Euskara - eu - Basque</option>
	  <option value="fa"{% if text_language == 'fa' %} selected="selected"{% endif %}>فارسی - fa - Persian</option>
	  <option value="fi"{% if text_language == 'fi' %} selected="selected"{% endif %}>Suomen - fi - Finnish</option>
	  <option value="fr"{% if text_language == 'fr' %} selected="selected"{% endif %}>Français - fr - French</option>
	  <option value="gu"{% if text_language == 'gu' %} selected="selected"{% endif %}>ગુજરાતી - gu - Gujarati</option>
	  <option value="hi"{% if text_language == 'hi' %} selected="selected"{% endif %}>हिन्दी - hi - Hindi</option>
	  <option value="ja"{% if text_language == 'ja' %} selected="selected"{% endif %}>日本語 - ja - Japanese</option>
	  <option value="kk"{% if text_language == 'kk' %} selected="selected"{% endif %}>Қазақша - kk - Kazakh</option>
	  <option value="kl"{% if text_language == 'kl' %} selected="selected"{% endif %}>kalaallisut - kl - Greenlandic</option>
	  <option value="kn"{% if text_language == 'kn' %} selected="selected"{% endif %}>ಕನ್ನಡ - kn - Kannada</option>
	  <option value="ko"{% if text_language == 'ko' %} selected="selected"{% endif %}>한국어 - ko - Korean</option>
	  <option value="ku"{% if text_language == 'ku' %} selected="selected"{% endif %}>kurdî - ku - Kurdish</option>
	  <option value="ky"{% if text_language == 'ky' %} selected="selected"{% endif %}>Кыргызча - ky - Kyrghyz</option>
	  <option value="la"{% if text_language == 'la' %} selected="selected"{% endif %}>Latina - la - Latin</option>
	  <option value="mai"{% if text_language == 'mai' %} selected="selected"{% endif %}>মৈথিনী - mai - Maithili</option>
	  <option value="mis-x-Q36846"{% if text_language == 'mis-x-Q36846' %} selected="selected"{% endif %}>Toki Pona - mis-x-Q36846 - Toki Pona</option>
	  <option value="ml"{% if text_language == 'ml' %} selected="selected"{% endif %}>മലയാളം - ml - Malayalam</option>
	  <option value="mn"{% if text_language == 'mn' %} selected="selected"{% endif %}>Монгол - mn - Mongolian</option>
	  <option value="mr"{% if text_language == 'mr' %} selected="selected"{% endif %}>मराठी - mr - Marathi</option>
	  <option value="nb"{% if text_language == 'nb' %} selected="selected"{% endif %}>norsk bokmål - nb - Norwegian Bokmål</option>
	  <option value="ne"{% if text_language == 'ne' %} selected="selected"{% endif %}>नेपाली - ne - Nepali</option>
	  <option value="nl"{% if text_language == 'nl' %} selected="selected"{% endif %}>Nederlands - nl - Dutch</option>
	  <option value="nn"{% if text_language == 'nn' %} selected="selected"{% endif %}>norsk nynorsk - nn - Norwegian Nynorsk</option>
	  <option value="nv"{% if text_language == 'nv' %} selected="selected"{% endif %}>Diné bizaad - nv - Navajo</option>
	  <option value="or"{% if text_language == 'or' %} selected="selected"{% endif %}>ଓଡ଼ିଆ - or - Ordia</option>
	  <option value="pa"{% if text_language == 'pa' %} selected="selected"{% endif %}>ਪੰਜਾਬੀ - pa - Eastern Punjabi</option>
	  <option value="pl"{% if text_language == 'pl' %} selected="selected"{% endif %}>Polski - pl - Polish</option>
	  <option value="pnb"{% if text_language == 'pnb' %} selected="selected"{% endif %}>پن٘جابی - pnb - Western Punjabi</option>
	  <option value="pt"{% if text_language == 'pt' %} selected="selected"{% endif %}>Português - pt - Portuguese</option>
	  <option value="ru"{% if text_language == 'ru' %} selected="selected"{% endif %}>Русский - ru - Russian</option>
	  <option value="sk"{% if text_language == 'sk' %} selected="selected"{% endif %}>Slovenčina - sk - Slovak</option>
	  <option value="sl"{% if text_language == 'sl' %} selected="selected"{% endif %}>Slovenščina - sl - Slovene</option>
	  <option value="sv"{% if text_language == 'sv' %} selected="selected"{% endif %}>Svenska - sv - Swedish</option>
	  <option value="sw"{% if text_language == 'sw' %} selected="selected"{% endif %}>Kiswahili - sw - Swahili</option>
	  <option value="ta"{% if text_language == 'ta' %} selected="selected"{% endif %}>தமிழ் - ta - Tamil</option>
	  <option value="te"{% if text_language == 'te' %} selected="selected"{% endif %}>తెలుగు - te - Telugu</option>
	  <option value="tg"{% if text_language == 'tg' %} selected="selected"{% endif %}>Тоҷикӣ - tg - Tajik</option>
	  <option value="tk"{% if text_language == 'tk' %} selected="selected"{% endif %}>Türkmençe - tk - Turkmen</option>
	  <option value="ug"{% if text_language == 'ug' %} selected="selected"{% endif %}>ئۇيغۇرچە - ug - Uyghur</option>
	  <option value="ur"{% if text_language == 'ur' %} selected="selected"{% endif %}>اُردُو - ur - Urdu</option>
	  <option value="uz"{% if text_language == 'uz' %} selected="selected"{% endif %}>Oʻzbekcha - uz - Uzbek</option>
	  <option value="vi"{% if text_language == 'vi' %} selected="selected"{% endif %}>Tiếng Việt - vi - Vietnamese</option>
	  <option value="zh"{% if text_language == 'zh' %} selected="selected"{% endif %}>汉语 - zh - Chinese</option>
	</select>
      </div>
      
      <div class="form-group col-md-6">
	<label for="casing">Casing:</label>
	<select class="form-control" id="casing-selector" name="casing">	
	  <option value="none"{% if casing == 'none' %} selected="selected"{% endif %}>None</option>
	  <option value="lowercase"{% if casing == 'lowercase' %} selected="selected"{% endif %}>Lowercase</option>
	  <option value="uppercase"{% if casing == 'uppercase' %} selected="selected"{% endif %}>Uppercase</option>
 	  <option value="lowercase-first-sentence-letters"{% if casing == 'lowercase_first_sentence_letters' %} selected="selected"{% endif %}>Lowercase first sentence letters</option>
 	  <option value="uppercase-first-word-letters"{% if casing == 'uppercase_first_word_letters' %} selected="selected"{% endif %}>Uppercase first word letters</option>
	</select>
      </div>
    </div>
    <div class="form-group">
	<button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<h2>Extraction</h2>

<table class="table table-hover" id="extraction"></table>

{% endblock %}
